/* ========== FONTS ========== */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hacked';
    src: url('../fonts/Hacked-KerX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Firacode';
    src: url('../fonts/FiraCodeNerdFontPropo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ========== GENERAL ========== */

html {
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ========== HEADER ========== */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    position: relative; /* Add position relative for the burger menu positioning */
}

ul {
    font-family: 'Raleway';
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 2rem;
}

ul, a {
    color: white;
    text-decoration: none;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* Burger menu */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.burger-menu span {
    background: white;
    border-radius: 2px;
    display: block;
    height: 3px;
    margin: 5px 0;
    width: 25px;
}

/* ========== MAIN ========== */

.hero-section {
    color: white;
    font-family: 'Hacked';
    font-size: 2.5rem;
    margin-top: 10%;
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    position: relative; 
}

.hero-text {
    display: flex;
    flex-direction: column; 
}

.hero-section h1 {
    margin-bottom: 0.5rem; 
    line-height: 1.2;
}

#type {
    color: white;
    font-family: 'Firacode';
    font-size: 1.15rem;
}

.selfie-container {
    position: absolute; 
    top: 0;
    right: 39%; 
}

.selfie {
    border-radius: 80%;
    width: 450px; 
    height: auto; 
}

.accroche {
    color: white;
    font-family: 'Hacked';
    font-size: 4.5rem;
    opacity: 40%;
    margin-top: 3%;
    margin-left: 2%; 
    max-width: 60%; 
    text-align: left;
    transition: font-size 0.75s ease, opacity 0.75s ease, color 0.75s ease;
}

.accroche:hover {
    font-size: 5.25rem;
    opacity: 100%;
}

/* ========== MEDIA QUERIES ========== */

@media (max-width: 500px) {
    nav {
        font-size: 1rem;
        flex-direction: column; 
        text-align: center; 
    }

    .burger-menu {
        display: flex; /* Show burger menu */
    }

    ul {
        margin-top: 1rem; 
        display: none; /* Hide navigation links by default */
        flex-direction: column; 
        align-items: center; 
    }

    li {
        margin: 1rem 0;
    }

    .hero-section {
        font-size: 2rem;
        margin-top: 10%; 
        flex-direction: column;
        padding-top: 13rem;
        text-align: center;
    }

    .hero-section h1 {
        margin-top: 4rem; 
        line-height: 1.2;
    }

    .selfie {
        border-radius: 50%;
        width: 250px;
        height: auto;
        margin: 0 auto; 
    }

    .selfie-container {
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        width: 160px;
    }

    .accroche {
        font-size: 2rem;
        margin-top: 2rem; 
        max-width: 90%;
        text-align: center; 
        margin-left: auto;
        margin-right: auto;
    }

    .accroche:hover {
        font-size: 2.5rem;
        opacity: 100%;
        text-align: center;
    }
}
