/* ==================== FONTS ==================== */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hacked';
    src: url('../fonts/Hacked-KerX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Firacode';
    src: url('../fonts/FiraCodeNerdFontPropo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ==================== ANIMATIONS ==================== */

@keyframes accroche-animation-tel {
    0%, 100% {
        font-size: 1.75rem; 
        opacity: 40%;
    }
    50% {
        font-size: 2rem;
        opacity: 100%;
    }
}

@keyframes accroche-animation-tablet {
    0%, 100% {
        font-size: 2.5rem; 
        opacity: 40%;
    }
    50% {
        font-size: 3rem;
        opacity: 100%;
    }
}

@keyframes accroche-animation-laptop {
    0%, 100% {
        font-size: 3rem; 
        opacity: 40%;
    }
    50% {
        font-size: 3.5rem;
        opacity: 100%;
    }
}

/* ==================== GENERAL ==================== */

html {
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: white;
}

li {
    padding: 2rem;
}

li a {
    font-family: 'Raleway';
    color: white;
    text-decoration: none;
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

nav ul {
    list-style-type: none;
    display: flex;

    justify-content: center;
}

.buttons-container {
    margin-top: 1rem;
}

.buttons-container a {
    font-family: 'Raleway';
    color: white;
    text-decoration: none;
    justify-content: center;

    padding: 0.3rem;

    border-radius: 2px;
    border: 1px solid white;
}

.buttons-container a:hover {
    background-color: white;
    color: black;

    transition: 0.75s;
}

.hero-text {
    font-family: 'Hacked';
}

#type {
    font-family: 'Firacode';
}

.selfie {
    border-radius: 50%;
}

.accroche {
    font-family: 'Hacked';
    opacity: 40%;
}

/* ==================== MOBILE ==================== */

@media (min-width: 320px) and (max-width: 480px) {
    nav {
        display: none;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 1rem;
    }

    .hero-text {
        font-size: 1.5rem;
        margin-bottom: 1rem; 
    }

    .hero-text #type {
        font-size: 1rem; 
    }

    .selfie-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        margin-bottom: 1rem;
        position: static;
        transform: none;
    }

    .selfie {
        width: 250px;
        height: auto;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem; 
    }

    .accroche {
        font-size: 1.75rem;
        margin-top: 2rem;
        text-align: center;

        animation: accroche-animation-tel 8s infinite;
    }

    .accroche a {
        color: white;
        text-decoration: none;
    }
}

/* ==================== TABLET ==================== */

@media (min-width: 481px) and (max-width: 768px) {
    nav {
        display: none;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 1rem;
    }

    .hero-text {
        font-size: 2rem;
        margin-bottom: 1rem; 
    }

    .hero-text #type {
        font-size: 1.25rem; 
    }

    .selfie-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        margin-bottom: 1rem;
        position: static;
        transform: none;
    }

    .selfie {
        width: 300px;
        height: auto;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem; 

        font-size: 1.25rem;
    }

    .accroche {
        margin-top: 2rem;
        text-align: center;

        animation: accroche-animation-tablet 8s infinite;
    }

    .accroche a {
        color: white;
        text-decoration: none;
    }
}

/* ==================== LAPTOP ==================== */

@media (min-width: 769px) and (max-width: 1024px) {
    .buttons-container {
        display: none;
    }
    
    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 1rem;
    }

    .hero-text {
        font-size: 2rem;
        margin-bottom: 1rem; 
    }

    .hero-text #type {
        font-size: 1.25rem; 
    }

    .selfie-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        margin-bottom: 1rem;
        position: static;
        transform: none;
    }

    .selfie {
        width: 300px;
        height: auto;
    }

    .accroche {
        margin-top: 2rem;
        text-align: center;
        font-size: 3rem;

        animation: accroche-animation-laptop 8s infinite;
    }

    .accroche a {
        color: white;
        text-decoration: none;
    }

    .accroche:hover {
        font-size: 3.5rem;
        opacity: 100%;
    }
}

/* ==================== DESKTOP ==================== */

@media (min-width: 1025px) and (max-width: 1200px) {
    .buttons-container {
        display: none;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 1rem;
    }

    .hero-text {
        font-size: 2rem;
        margin-bottom: 1rem; 
    }

    .hero-text #type {
        font-size: 1.25rem; 
    }

    .selfie-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        margin-bottom: 1rem;
        position: static;
        transform: none;
    }

    .selfie {
        width: 300px;
        height: auto;
    }

    .accroche {
        margin-top: 2rem;
        text-align: center;
        font-size: 4rem;

        transition: font-size 0.75s ease, opacity 0.75s ease, color 0.75s ease;
    }

    .accroche a {
        color: white;
        text-decoration: none;
    }

    .accroche:hover {
        font-size: 4.5rem;
        opacity: 100%;
    }
}

/* ==================== WIDESCREEN ==================== */

@media (min-width: 1201px) {
    .buttons-container {
        display: none;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 1rem;
    }

    .hero-text {
        font-size: 2rem;
        margin-bottom: 1rem; 
    }

    .hero-text #type {
        font-size: 1.25rem; 
    }

    .selfie-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        margin-bottom: 1rem;
        position: static;
        transform: none;
    }

    .selfie {
        width: 350px;
        height: auto;
    }

    .accroche {
        margin-top: 2rem;
        text-align: center;
        font-size: 4rem;

        transition: font-size 0.75s ease, opacity 0.75s ease, color 0.75s ease;
    }

    .accroche a {
        color: white;
        text-decoration: none;
    }

    .accroche:hover {
        font-size: 4.5rem;
        opacity: 100%;
    }
}